Function

Built in funtion list

In [ ]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
#task-1:
user=int(input('Sir, please enter your desired number: '))
def even_checker(number):
    if number%2==0:
        print('even!!')
    else:
        print('odd!!')
even_checker(user)

Sir, please enter your desired number: 5
odd!!

In [ ]:
#task-2:
def fibonacci(num):
    num1=0
    num2=1
    if num<=0:
        print('Invalid')
    else:
        print(num1,num2, end=' ')

        while num2+num1<=num:
             temp=num1+num2
             num1=num2
             num2=temp
             print(temp, end=' ')
fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
def fibonacci(num):
    num0=0
    num1=1
    if num<=0:
        print('Invalid')
    else:
        print(num0,num1, end=' ')
    while num1+num0<=num:
        temp=num1+num0
        num1=temp
        num0=num1
        
        print(temp, end=' ')

fibonacci(10)

0 1 1 2 4 8

In [ ]:
#task-3:
user=int(input('Sir, please enter your desired number: '))
def foo_moo(number):
    if number%2==0:
        return 'Foo'
    elif number%3==0:
        return 'Moo'
    elif number%2==0 and number%3==0:
        return 'FooMOO'
    else:
        return'Boo'
foo_moo(user)

Sir, please enter your desired number: 5

'Boo'

In [ ]:
#task-4:
def function_name(words):
    new_word=''
    lower_count=0
    upper_count=0
    for i in words:
        if i!=' ':
            new_word=new_word+i
    for j in new_word:
        if 97<=ord(j)<=122:
            lower_count+=1
        else:
            upper_count+=1
    print('No. of Uppercase characters : ', upper_count)
    print('No. of Lowercase characters : ', lower_count)

function_name('The quick Sand Man')

No. of Uppercase characters :  3
No. of Lowercase characters :  12

In [ ]:
#task-5:
def  calculate_tax(age, sal,desig):
    if age<18 or sal<10000 or desig=='President':
        tax=0
    elif sal>=10000 and sal<=20000:
        tax=sal*5/100
    elif sal>=20000:
        tax=sal*10/100
    return tax
    
    
age=int(input('Sir, please enter your desired number: '))
sal=float(input('Sir, please enter your desired number: '))
desig=input('Sir, please enter your current position: ')
store=calculate_tax(age, sal, desig) 
print(store)

Sir, please enter your desired number: 16
Sir, please enter your desired number: 20000
Sir, please enter your current position: Student
0

In [ ]:
#task-6:
def function_name(days):
    year=days//365
    remainder=days%365
    month=remainder//30
    day=remainder%30
    print('{} years, {} months and {} days'. format(year, month, remainder))
function_name(4330)

11 years, 10 months and 315 days

In [ ]:
#task-7:
def show_palindrome(num):
    
    for i in range(1,num+1):
        print(str(i), end='')
    for count in range(num-1, 0, -1):
        print(str(count), end='')

show_palindrome(5)

123454321

In [ ]:
#task-8:
def show_palindromic_triangle(height):
    for i in range(1, height+1):
        for j in range(2*height-2*i):
            print(end=' ')
        for s in range(1, i+1):
            print(str(s),end=' ')
        for k in range(i-1, 0, -1):
            print(str(k),end=' ')
        print()
show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#task-9:
import math
def area_circumference_generator(num):
    area=math.pi*num**2
    circumference=2*math.pi*num
    new_tuple=(area, circumference)
    print(new_tuple)

    print('Area of the circle is {} and circumference is {}'. format(area,circumference))

area_circumference_generator(1)

(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task-10:
def make_square(num):
    list1=[]
    list2=[]
    add=''
    for i in num:
        if i[0]=='1':
            list1.append(i[0])
        elif i[1]=='3':
            list2.append(i[1])
    new_dict={'1':list1**2, '3':list2**2}
    print(new_dict)

make_square((1,3))

TypeError: ignored

In [ ]:
#task-10:
def make_square(a_tuple):
    start,end=a_tuple
    a_dict={}

    for i in range(start,end+1):
        key=i
        value=i**2
        a_dict[key]=value
    return a_dict
    

make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#task-10:
def make_square(num):
    new_dict={}
    for i in range(num[0],num[1]+1):
        new_dict[i]=i**2
    return new_dict

holding=make_square((1,3))
print(holding)

{1: 1, 2: 4, 3: 9}

In [ ]:
#task-11:
def rem_duplicate(num):
    a_list=list(num)
    new_list=[]
    for i in num:
        if i not in new_list:
            new_list.append(i)
    print(tuple(new_list))

rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
def rem_duplicate(num):
    a_list=list(num)
    new_list=[]
    print(a_list)
    for i in num:
        if i not in new_list:
            new_list.append(i)
    return new_list
    
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

[1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 6, 4, 0, 0, 0]

[1, 2, 3, 4, 5, 6, 0]

In [ ]:
#task-12:
def function_name(a_list):
    b_list=[]
    c_list=[]
    count=0
    
    for x in range(0,len(a_list)):
        if a_list[x] not in b_list:
            b_list.append(a_list[x])
    print(b_list)
    
    
    for y in range(0,len(b_list)):
        for h in range(0,len(a_list)):
            if b_list[y]== a_list[h]:
                count=count+1

        if count>=2:
            c_list.append(b_list[y])
            c_list.append(b_list[y])
        elif count<2:
            c_list.append(b_list[y])
        count=0
    removed=len(a_list)-len(c_list)
    return c_list, removed

x,y=function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])
print("Removed:",y)
print("Output:",x)

[1, 2, 3, 4, 5, 8]
Removed: 2
Output: [1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
def function_name(a_list):
    b_list=[]
    c_list=[]
    count=0
    for i in a_list:
        if a_list[i] not in b_list:
            b_list.append(a_list[i])
    print(b_list)
    
    for j in range(0,len(b_list)):
        for k in range(0,len(a_list)):
            if b_list[j]==a_list[k]:
                count=count+1
        if count>=2:
            c_list.append(b_list[j])
            c_list.append(b_list[j])
        elif count<2:
            c_list.append(b_list[j])
        count=0
    removed=len(a_list)-len(c_list)
    return c_list,removed

holding=function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])
print(holding)
print('Removed: ',holding[1])       #holding position in holding tuple(removed=1)
print('Output: ',holding[0])        #holding position in holding tuple(c_list=0)

[2, 3, 8]
([2, 3, 3, 8, 8], 5)
Removed:  5
Output:  [2, 3, 3, 8, 8]

In [ ]:
#task-13:
def function_name(p,q,r):
    if p=="+":
        output=q+r
    elif p=="-":
        output=q-r
    elif p=="*":
        output=q*r
    elif p=="/" :
        output=q/r
    return output

p=str(input('Sir, please enter your desried operator: '))
q=float(input('Sir, please enter your desired number: '))
r=float(input('Sir, please enter your desired number: '))    
holding=function_name(p,q,r)
print("Output is:",holding)

Sir, please enter your desried operator: +
Sir, please enter your desired number: 10
Sir, please enter your desired number: 20
Output is: 30.0

In [ ]:
def function_name(opert,int1,int2):
    if opert=='+':
        output=int1+int2
    elif opert=='-':
        output=int1-int2
    elif opert=='*':
        output=int1*int2
    elif opert=='/':
        output=int1/int2
    return output

opert=str(input())
int1=float(input())
int2=float(input())
holding=function_name(opert,int1,int2)
print('Output is: ',holding)

+
10
20
Output is:  30.0

In [ ]:
#task-14:
def function_name(words, pos):
    first_word=words[0]
    new_word=''
    extra_word=''
    final_word=''

    for i in range(1,len(words)):
        if i%pos!=0:
            new_word= new_word+words[i]

        else:
            extra_word= extra_word+words[i]

    final_word= first_word+new_word+extra_word
    return final_word

function_name("I love programming.", 3)

'I lveprgrmmngo oai.'

In [ ]:
#task-14:
def function_name(words, pos):
    first=words[0]
    new_word=''
    extra_word=''
    final_word=''

    for i in range(1,len(words)):
        if i%pos!=0:
            new_word= new_word+words[i]

        else:
            extra_word= extra_word+words[i]

    final_word= first +new_word+extra_word
    return final_word

function_name("Python is easy to learn. I love python.", 6)

'Pythonis eay to earn.I lov pythn. sl eo'

In [ ]:
#task-15:
num_item=int(input("Please enter item number: "))
list_item=[]

for counter in range(0,num_item):
    items=input("Please enter item: ")
    list_item.append(items)

print(list_item)
a_dict={"Rice":105 ,"Potato":20,"Chicken": 250,"Beef":510,"Oil":85}

def function_name(list_item,locate="Dhanmondi"):
    total=0

    for counting in range(0,len(list_item)):
        total=total+a_dict[list_item[counting]]
    
    if locate=="Dhanmondi":
        total+=30
    else:
        total+=70
    return total
function_name(list_item,"Mohakhali")

Please enter item number: 5
Please enter item: Rice
Please enter item: Chicken
Please enter item: Potato
Please enter item: Beef
Please enter item: Oil
['Rice', 'Chicken', 'Potato', 'Beef', 'Oil']

1040

In [ ]:
#task-16:
def splitting_money(amount):
    var1=amount//500
    remainder=amount%500
    var2=remainder//100
    remainder2=remainder%100
    var3=remainder2//20
    remainder3=remainder2%20
    var4=remainder3//10
    remainder4=remainder3%10
    var5=remainder4//2

    print('500 Taka: {} notes'.format(var1))
    print('100 Taka: {} notes'.format(var2))
    print('20 Taka: {} notes'.format(var3))
    print('10 Taka: {} notes'. format(var4))
    print('2 Taka: {} notes'.format(var5))

splitting_money(1234)

500 Taka: 2 notes
100 Taka: 2 notes
20 Taka: 1 notes
10 Taka: 1 notes
2 Taka: 2 notes

In [ ]:
#task-17:
def remove_odd(list1):
    new_list=[]
    for i in range(0,len(list1)):
        if list1[i]%2==0:
            new_list.append(list1[i])
        else:
            pass
    print(new_list)


remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

[44, 66, 88, 10]

In [ ]:
#task-17:
def remove_odd(list1):
    new_list=[]
    for i in list1:
        if i%2==0:
            new_list.append(i)
    print(new_list)


remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])

[44, 66, 88, 10]

In [ ]:
#task-18:
starting=int(input('Sir, please enter your desired number: '))
ending=int(input('Sir, please enter your desired number: '))
first_d=int(input('Sir ,please enter your desired number: '))
second_d=int(input('Sir, please enter your desired number: '))

def function_name(start, end, fir_d, sec_d):
    add=0
    new_list={}
    for i in range(start,end):
        if i%fir_d==0 and i%sec_d==0:
            pass
        elif i%fir_d==0 or i%sec_d==0:
            add=add+i
    return add 
        

function_name(starting, ending, first_d, second_d)             #10, 40, 4, 7

Sir, please enter your desired number: 10
Sir, please enter your desired number: 40
Sir ,please enter your desired number: 4
Sir, please enter your desired number: 7

210

In [ ]:
#task-18:
def function_name(start, end, fir_d, sec_d):
    add=0
    new_list={}
    for i in range(start,end):
        if i%fir_d==0 and i%sec_d==0:
            pass
        elif i%fir_d==0 or i%sec_d==0:
            add=add+i
    return add 
        

function_name(5, 100, 3, 4)

2012

In [ ]:
#task-19:
def function_name(var1):

    sum=0
    add=''
    for i in range(len(var1)):
        if var1[i].isupper():
           add=add+var1[i].lower()

        elif var1[i].islower():
            add=add+var1[i].lower()
        else:
            add=add+var1[i].lower()
    print(add)
    
    var2=''
    for i in add:
        if i !=' ':
            var2=var2+i
    print(var2)
    
    var3=''
    sum=0
    for count in range(len(var2)):
        if ord[count]>=97 or ord[count]<=122:
            
            sum=sum+ord[count]
        print(sum)
    
            

function_name("A BLacK Jackal is hunting a FULL grown deer")

a black jackal is hunting a full grown deer
ablackjackalishuntingafullgrowndeer

TypeError: ignored

For making a uppercase letter into a lowercase letter

In [ ]:
s=input()
new_str=""
for i in range (len(s)):
    if s[i].isupper():
        new_str+=s[i].lower()
    elif s[i].islower():
        new_str+=s[i].upper()
    else:
        new_str+=s[i]
print(new_str)

"A black Jackal is hunting a full grown deer"
"a BLACK jACKAL IS HUNTING A FULL GROWN DEER"

In [ ]:
s=input()
new_str=""
for i in range (len(s)):
    if s[i].isupper():
        new_str=new_str+s[i].lower()
    else:
        new_str=new_str+s[i].upper()
print(new_str)

A Black Jackel is HUnting
a bLACK jACKEL IS huNTING

In [ ]:
user='a BLACK jACKAL IS HUNTING A FULL GROWN DEER'
new=''
for i in range(len(user)):
    if user[i].isupper():
        new=new+user[i].lower()
print(new)

blackackalishuntingafullgrowndeer

In [ ]:
#task-20:
def cal_bonus(name, sal, goals, time):
    bonus = int(goals * (time / 100 *sal ) + 10000)
    print('{} earned a bonus of {} Taka for {} goals.'.format(name,bonus,goals))

cal_bonus("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.

In [ ]:
#task-21:
def cal_bonus(name, sal, goals, time):
    bonus = int(goals * (time / 100 *sal ) + 10000)
    print('{} earned a bonus of {} Taka for {} goals.'.format(name,bonus,goals))

cal_bonus("Neymar", 1200000, 35, 5)

Neymar earned a bonus of 2110000 Taka for 35 goals.